In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from API_key import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pevek,RU,2020-10-03 22:27:26,69.70,170.31,31.96,97,100,6.76
1,1,Torbay,CA,2020-10-03 22:30:38,47.67,-52.73,60.01,93,90,14.99
2,2,Vaini,TO,2020-10-03 22:30:38,-21.20,-175.20,75.20,88,90,11.41
3,3,Hermanus,ZA,2020-10-03 22:30:38,-34.42,19.23,60.01,86,23,5.99
4,4,Port Elizabeth,ZA,2020-10-03 22:30:38,-33.92,25.57,60.80,93,90,13.87

In [3]:
#One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
"""If you  maximum temperature is less than 0 Â°F
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

#change weights in heat_leyer
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#or 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [22]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.45)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=6)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Humidity map
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.45)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=6)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
#Cloudiness map
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.45)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=6)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
#Wind speed map
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.45)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=6)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [50]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2020-10-03 22:30:38,-21.20,-175.20,75.20,88,90,11.41
5,5,Keti Bandar,PK,2020-10-03 22:30:39,24.14,67.45,80.76,84,17,10.49
12,12,Biltine,TD,2020-10-03 22:30:40,14.53,20.92,85.26,49,0,1.39
17,17,Itarema,BR,2020-10-03 22:30:40,-2.92,-39.92,78.87,74,89,16.84
21,21,Atuona,PF,2020-10-03 22:27:05,-9.80,-139.03,78.40,73,24,22.93
26,26,Kousseri,CM,2020-10-03 22:30:41,12.08,15.03,80.60,83,27,4.85
28,28,Padang,ID,2020-10-03 22:30:41,-0.95,100.35,76.73,73,81,3.20
34,34,Raiganj,IN,2020-10-03 22:30:42,25.62,88.12,78.13,91,100,4.72
43,43,Kieta,PG,2020-10-03 22:30:43,-6.22,155.63,84.52,58,0,6.26
44,44,Arraial Do Cabo,BR,2020-10-03 22:30:43,-22.97,-42.03,75.20,94,75,11.41

In [51]:
total_options=preferred_cities_df['City'].count()
total_options

187

In [54]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [53]:
preferred_cities_df.notnull().sum()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [82]:
hotel_df=preferred_cities_df
hotel_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2020-10-03 22:30:38,-21.20,-175.20,75.20,88,90,11.41
5,5,Keti Bandar,PK,2020-10-03 22:30:39,24.14,67.45,80.76,84,17,10.49
12,12,Biltine,TD,2020-10-03 22:30:40,14.53,20.92,85.26,49,0,1.39
17,17,Itarema,BR,2020-10-03 22:30:40,-2.92,-39.92,78.87,74,89,16.84
21,21,Atuona,PF,2020-10-03 22:27:05,-9.80,-139.03,78.40,73,24,22.93

In [83]:
"""#keep the columns "City," "Country," "Max Temp," "Lat," and "Lng."
hotel_df=hotel_df.drop(['City_ID','Date','Humidity','Cloudiness','Wind Speed'], axis=1)
newhotel_df=hotel_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
newhotel_df["Hotel Name"] = ""
newhotel_df.head()"""

C:\Users\Deva\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           City Country  Max Temp    Lat     Lng Hotel Name
2         Vaini      TO     75.20 -21.20 -175.20
5   Keti Bandar      PK     80.76  24.14   67.45
12      Biltine      TD     85.26  14.53   20.92
17      Itarema      BR     78.87  -2.92  -39.92
21       Atuona      PF     78.40  -9.80 -139.03

In [84]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

           City Country  Max Temp    Lat     Lng Hotel Name
2         Vaini      TO     75.20 -21.20 -175.20
5   Keti Bandar      PK     80.76  24.14   67.45
12      Biltine      TD     85.26  14.53   20.92
17      Itarema      BR     78.87  -2.92  -39.92
21       Atuona      PF     78.40  -9.80 -139.03

In [93]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [96]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
5,Keti Bandar,PK,80.76,24.14,67.45,Haji laloo memon house
12,Biltine,TD,85.26,14.53,20.92,HÃ´tel Trois Ãtoiles de Biltine
17,Itarema,BR,78.87,-2.92,-39.92,Windvillage
21,Atuona,PF,78.40,-9.80,-139.03,Villa Enata

In [98]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=1.45)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [100]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))